body {
    margin: 0;
    font-family: 'Philosopher', sans-serif;
    position: relative;
}

.darkMode {
    background-color: black;
    color: white;
}

.darkModeSection {
    border: solid 5px white;
    background-color: black;
}

.lightModeSection {
    border: solid 5px black;
    background-color: white;
}

.catMode {
    background-image: url(images/KaLemon.jpg);
    background-repeat: repeat;
    background-size: 25%;
}

.headerBar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: auto;
    background-color: purple;
    margin-top: 15px;
    padding: 5px;
    color: white;
}

.alignRight {
    text-align: right;
}

h1 {
    text-align: center;
    justify-content: center;
}

#clicker {
    height: fit-content;
    padding: 8px;
    text-align: center;
    align-content: right;
    margin-top: 22.5px;
    margin-right: 10px;
    box-shadow: none;
    border: none;
    border-radius: 8px;
    transition: 0.7s;
}

button {
    background-color: white;
}

#clicker:hover {
    background-color: fuchsia;
    border: none;
    padding: 8px;
}

#catMode:hover {
    background-color: fuchsia;
    border: none;
    padding: 8px;
}

#catMode {
    height: fit-content;
    padding: 8px;
    text-align: center;
    align-content: center;
    margin-top: 22.5px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    transition: 0.7s;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: purple;
    margin-bottom: 15px;
    padding: 5px;
    color: white;
    text-align: center;
    gap: 10px;
}

.footerLeft {
    display: flex;
    align-items: center;
    text-align: center;
}

#scrollTop {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 25px;
    color: fuchsia;
    font-size: 300%;
    border: none;
    background-color: transparent;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 50px;
    row-gap: 9px;
    width: 100%;
    max-width: 800px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 35%;
    background-color: purple;
    border: 5px solid black;
    border-radius: 15px;
    font-family: 'Philosopher', sans-serif;
    z-index: 2;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
}

.btn-close {
    background-color: fuchsia;
    border: none;
    font-weight: bold;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}


#contactSection {
    display: flex;
    align-items: center;
}

#contactMe {
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 0.8rem;
    box-shadow: none;
    border: none;
    color: white;
    background: transparent;
    transition: 0.7s;
}

#contactMe:hover {
    color: fuchsia;
    border: none;
}


.socials {
    font-size: 2rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80px;
    gap: 15px;
    align-items: center;
}

.socials a {
    color: white;
    text-decoration: none;
}

.socials a:hover {
    color: fuchsia;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 50px 20%;
    gap: 50px;
    flex-wrap: wrap;
    font-size: ;
}

#jumbotron {
    padding: 15px;
    text-align: center;
}

#secondbox {
    padding: 5px;
    align-items: center;
}

.portfolioBox {
    text-align: center;
    padding: 15px;
}

.imageContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

img {
    width: 90%;
    margin: 5px;
}

.thumbnail {
    top: -50px;
    z-index: 999;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.thumbnail:hover {
    transform: scale(1.5);
}


@media screen and (max-width: 1200px) {
    .container {
        padding: 50px;
    }

    .imageContainer {
        flex-direction: column;
    }

    .thumbnail:hover {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 800px) {
    .container {
        padding: 25px;
        font-size: larger;
    }

    .imageContainer {
        flex-direction: column;
    }

    img {
        max-width: 70%
    }

    .thumbnail:hover {
        transform: scale(1.1);
    }
}


@media screen and (max-width: 627px) {
    .alignRight {
        vertical-align: center;
    }

    #catMode {
        vertical-align: center;
    }

    .headerBar {
        overflow-wrap: normal;
    }
}